  @import url(https://fonts.googleapis.com/css?family=Hind);
		
body {
	font-family: 'Hind', sans-serif;
	background-color: #C6E377;
	font-size: 17px;
	
}	
.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	background-color:  #C6E377;
	font-size:17px;
}

.grid-container > div {
	background-color: #C6E377;
	text-align: left;
	padding: 20px 0;
	font-size: 17px;
}

#container1 {
	height: 80px;
    width: 100vw;
    text-align:center;
    background-color: #739d39;
    font-size: 8pt;
}


.box1 {
	background-color: #739d39;
	width: 20vw;
	height: 80px;
    vertical-align: top;
    display: inline-block;
}
            
.box2 {
    background-color: #739d39;
    width: 60vw;
    height: 80px;
    vertical-align: top;
    display: inline-block;  
}
      
.box3 {
    background-color: #739d39;
    width: 7vw;
    height: 80px;
    vertical-align: top;
    display: inline-block;
    text-align: left;
}
			
.box4 {
    background-color: #739d39;
    width: 12vw;
    height: 80px;
    vertical-align: top;
    display: inline-block;
    text-align: left;  
}

.box1 p{
	margin-left: auto;
    margin-right:auto;
    margin-bottom: auto;
    margin-top: 15px;
}
			
.box2 p{
    margin-left: auto;
    margin-right:auto;
	margin-bottom: auto;
	margin-top: 20px;
}
			
.box3 p{
	margin-left: auto;
	margin-right:auto;
	margin-bottom: auto;
	margin-top: 20px;
}

/*drop down menu*/
.dropbtn {
	background-color:#739d39;
	color: ;
	padding: 12px;
	font-size: 16px;
	border: none;
	display: inline-block;
}

.dropdown {
	position: relative;
	display: inline-block;
	margin-top: 20px;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
    font-size: 16px;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
 
/*button for the cart*/
.Cartbutton {
	background-color:#739d39;
	color: ;
	padding: 12px;
	font-size: 16px;
	border: none;
	display: inline-block;
}

.Cart {
	position: relative;
	display: inline-block;
	margin-top: 20px;
}


.item5 {
	grid-column-start: 1;
	grid-column-end: 3;
}
#cart1 {
	grid-column-start: 3;
	grid-column-end: 7;
}
    
.footer {
	background-color:#36622B;
	font-size: 17px;
	border: none;  
}
	