
			body {
         		font-family: 'Hind', sans-serif;
         		background-color: aliceblue;
                font-size: 18px;
      		}
			/***************************header******************************/
			#container1 {
				height: 80px;
        		width: 100vw;
       			text-align:center;
        		background-color: #739d39;
        		font-size: 8pt;
                
       
      		}
			
      		.box1 {
        		background-color: #739d39;
        		width: 20vw;
        		height: 80px;
        		vertical-align: top;
       			display: inline-block;
                
			}
            
      
      		.box2 {
        		background-color: #739d39;
        		width: 60vw;
        		height: 80px;
        		vertical-align: top;
        		display: inline-block;  
      		}
      
       		.box3 {
        		background-color: #739d39;
        		width: 7vw;
        		height: 80px;
        		vertical-align: top;
        		display: inline-block;
        		text-align: left;
            
      		}
			
       		.box4 {
        		background-color: #739d39;
        		width: 12vw;
        		height: 80px;
        		vertical-align: top;
        		display: inline-block;
        		text-align: left;  
			}

       		.box1 p{
				margin-left: auto;
        		margin-right:auto;
        		margin-bottom: auto;
        		margin-top: 15px;
      		}
			
      		.box2 p{
        		margin-left: auto;
        		margin-right:auto;
				margin-bottom: auto;
				margin-top: 20px;
			}
			
       		.box3 p{
				margin-left: auto;
				margin-right:auto;
				margin-bottom: auto;
				margin-top: 20px;
			}
       		/**********************************menu 1 ends********************/
            
            /************************footer***************/
            /*container 2*/
            #container2 { 
                height: 100px;
        		width: 100%;
        		background-color: #739d39;
        		font-size: 8pt;    
				margin-top:50px;
            }
            table, td {
                text-align: center;
                margin-bottom: 10px;
                font-size: 16px;
            }
            table, td:hover {
                background-color: #fcfad3;
            }
        
            /**********************footer ends*****************/
            
			/**car menyu dropdown*/
     		.dropbtn {
				background-color:#739d39;
				color: ;
				padding: 12px;
				font-size: 16px;
				border: none;
				display: inline-block;
			}

			.dropdown {
				position: relative;
				display: inline-block;
				margin-top: 20px;
			}

			.dropdown-content {
				display: none;
				position: absolute;
				background-color: #f1f1f1;
				min-width: 160px;
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				z-index: 1;
			}

			.dropdown-content a {
                font-size: 16px;
				color: black;
				padding: 12px 16px;
				text-decoration: none;
				display: block;
			}

			.dropdown-content a:hover {background-color: #ddd;}

			.dropdown:hover .dropdown-content {display: block;}

			.dropdown:hover .dropbtn {background-color: #3e8e41;}
      
			.Cartbutton {
				background-color:#739d39;
				color: ;
				padding: 12px;
				font-size: 16px;
				border: none;
				display: inline-block;
			}

			.Cart {
				position: relative;
				display: inline-block;
				margin-top: 20px;
			}
			/**car meny ends*/
			
			.img1{
				width: 10%;
				height: 10%;
				float:left;
			}
			.apple p{
				font-size:65px;
			}
			
			#texts {
				float:right;
				margin-top:25px;
				margin-right: 50px;
				background-color: #c6e377;
			}
			#container{
				background-color: #c6e377;
			
			}
			#sale{
				font-size:40px;
				text-align: center;
				margin-top: 20px;	
				margin-bottom: 10px;
			}
			
			#image1{
				width: 10%;
				height: 10%;
				float:left;
			}
			#texts1 {
				float:right;
				margin-top:25px;
				margin-right: 500px;
				background-color: #c6e377;
			}
	
			
		
		</style>